@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Bebas+Neue&display=swap');
body{
    background: white ;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
form{
    font-size: 1.5rem;
    text-align: center;
}
input{
    width: 50%;
}
.date{
    cursor: pointer;
}
button{
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 6px;
    color: white;
    background: rgb(0, 173, 0);
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 1.3rem;
    width: fit-content;
    margin : 0 auto;
    cursor: pointer;
}
#btnID{
    float: right;
    margin-top: 1%;
    font-size: 1.3rem;
    color: white;
    border: none;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    background:red ;
    cursor: pointer;
    }
.div{
    font-size: 1.5rem;
    margin-top: 10%;
    text-align: center;
}
table , th , td{
    margin: 0 auto;
    border : 2.5px solid black;
    border-collapse: collapse;
    width: fit-content;
    min-width: 95%;
}
th , td {
    border : 2px solid black;
}

